<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>

<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <style>
        h1 {
            color: white;
            font-family: great-vibes, cursive;
        }
        
        h2 {
            color: white;
            font-family: great-vibes, cursive;
            font-size: 30px;
        }
        
        p {
            color: white;
        }

        body {
            margin: 0;
            background-color: white;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        
        nav {
            background-color: #86AD77;
            padding: 18px;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            margin: 9px;
            font-weight: bold;
            text-align: center;
        }
        
        .box {
            background-color: #6F9662;
            width: 80%;
            margin: 40px auto;
            padding: 30px;
            border-radius: 20px;
        }

        .profile-pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            animation: float 2s ease-in-out infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }

    </style>
</head>

<body>

    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="info.html"> Information</a>
    </nav>

    <div class="box">

        <h1>Welcome to My Website!</h1>

        <img src="Mika.jpg"
             alt="My Picture"
             class="profile-pic">
             
             <hr>

        <h2> Mikaela Isabel T. Sison </h2>
        
        <hr>

        <p>❀ Welcome to my Personal Website!❀</p>
        
        <hr>

        <p> ❀Good Day! My name is Mikaela Isabel. In this website, you can get to know a little more about me, such as my favorite picture, favorite video, and favorite audio. Plus some additional information you may want to know about me as well! :D </p>
        
        <hr>

    </div>

</body>

</html>
